html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}


.he-header-links,
.he-section {
    transition: opacity 1s ease .5s;
    opacity: 0
}


.he {
    font-family: "Gotham SSm A", "Gotham SSm B", Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #222
}


.he-body {
    text-align: left;
    line-height: 1.2
}


.he-section {
    margin: 0.5em auto;
    width: 100%;
    max-width: 1700px
}


.he-social,
.he-text {
    width: 100%;
    max-width: 1224px
}


.he-intro-text,
.he-text>:last-child {
    margin-bottom: 0
}


.he-intro-text+.he-section,
.he-text>:first-child {
    margin-top: 0
}


.he-intro-text {
    opacity: 1
}

.ready .he-header-links,
.ready .he-section {
    opacity: 1
}

.he-text {
    position: relative;
    font-size: 2.6em;
    font-weight: 700
}

body,
a:link {
    cursor: url(../../../assets/img/cursor/cursor.cur), default;
}

a:hover {
    cursor: url(../../../assets/img/cursor/cursor2.cur), pointer;
}